<div class="m-4">
    <div class="m-2">
        <div class="d-flex justify-content-center">
            <img class="m-3 text-center" src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/ok.png" width="44" height="38" />
            
        </div>
        <div class="title text-center">Grazie!!</div>
        <p class="text-center">{{data.message}}</p>


        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-success" (click)="modalService.closeModal()">Chiudi</button>
        </div>
    </div>
</div>
