
<app-navbarfilter (searchTextChanged)="onSearchTextEntered($event)"></app-navbarfilter>
<header  class="headerMargin container-fluid bgGrey min-vh-100">

  <div class="row align-items-center shadow bgWhite mb-5 p-4">
      <div class="col-12 px-5">
          <h2 class="p-3 textMain ms-5 roundContent">TUTTI GLI ANNUNCI</h2>
      </div>
  </div>




  <div class="row px-5 justify-content-center" >



    <div class="col-12 col-md-6 col-lg-3 p-2 mt-3 d-flex justify-content-center" *ngFor="let product of pageslice">

        <div *ngIf="!searchText || product.name.toLowerCase().includes(searchText)" class="card rounded-0 border-0" style="width: 16rem;">

          <img href="" [routerLink]="['/singlepage/', product.productId]"  [src]="'https://picsum.photos/200/300?random=' + product.productId" class="card-img-top rounded-0 imgProducts " alt="" />

              <div class="card-body ps-3 mt-2">
                  <h5 class="textBlue text-end">{{product.standardCost}}€</h5>
                  <h5 class="card-title fs-6 text-uppercase">{{product.name}}</h5>
                  <!-- {{-- <p class="card-text">{{$announcement->body}}</p> --}} -->
                  <p class="text-secondary">{{product.productCategory.name}}</p>

                  <div  class="justify-content-between d-flex align-items-center">
                    <a [routerLink]="['/singlepage/', product.productId]" class="linkView border-0 rounded-0 m-0 p-0 btn">Dettagli</a>

                    <div >
                      <a (click)="BasicAuth.isLogged() ? manageLike(product) : redirectToLogin()" class="linkLike border-0 rounded-0 my-2">
                        <i id="{{product.productId}}"  class="fa-solid fa-heart" [ngStyle]="{'color': !checkLike(product.productId) ?  'grey' : 'red' }"></i>
                      </a>
                      </div>
                      <a [routerLink]="BasicAuth.isLogged() ? ['/buy/', product.productId] : '/login'" class="linkBuy border-0 rounded-0 my-2" ><i class="rounded-3 acqusita p-2 border border-black bi bi-bag"></i></a>

                        <!-- <small class="fst-italic">{{product.ModifiedDate}}</small> -->
                  </div>

              </div>


        </div>

      </div>

      <!-- @empty

      <div class="col-12">
          <div class="alert alert-warning py-3 shadow">
              <p class="lead">Non sono disponibili annunci per questa ricerca</p>
          </div>
      </div>

      @endforelse

      {{$announcements->links()}} -->
    </div>
  <!-- </div> -->

  <mat-paginator class="mt-5" [length]="100" [pageSize]="defaultRecords" [pageSizeOptions]="[12, 24, 36]" (page)="onPaginateChange($event)">
  </mat-paginator>



</header>



