<app-navbar></app-navbar>

<header class="headerMargin container-fluid bgGrey min-vh-100">
  <!-- {{-- 𝗕𝗢𝗧𝗧𝗢𝗡𝗘 𝗧𝗢𝗥𝗡𝗔 𝗜𝗡𝗗𝗜𝗘𝗧𝗥𝗢 --}} -->
  <div class="row">
    <div class="col-12 p-3">
      <a routerLink="/index" class="btn textMain"><i class="fa-solid textMain fa-angle-left"></i> Torna agli annunci</a>
    </div>
  </div>

  <!-- {{-- 𝗖𝗔𝗥𝗢𝗦𝗘𝗟𝗟𝗢 --}} -->
  <div class="row justify-content-evenly p-3">

    <div class="col-12 col-md-7 text-center bgWhite order-2 order-md-1">

      <swiper-container style="--swiper-navigation-color: #272727; --swiper-pagination-color: #fff" class="mySwiper p-5"
        thumbs-swiper=".mySwiper2" loop="true" space-between="10" navigation="true">

        <swiper-slide>
          <img src="assets/media/bikes.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img src="assets/media/mountainbikes.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img src="assets/media/tiresandtubes.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img src="assets/media/bottombrackets.jpg" />
        </swiper-slide>


      </swiper-container>


      <swiper-container class="mySwiper2" loop="true" space-between="10" slides-per-view="4" free-mode="true"
        watch-slides-progress="true">

        <!-- @foreach($announcement->images as $image) -->

        <swiper-slide>
          <img src="assets/media/bikes.jpg" style="width:150px" />
        </swiper-slide>
        <swiper-slide>
          <img src="assets/media/mountainbikes.jpg" style="width:150px" />
        </swiper-slide>
        <swiper-slide>
          <img src="assets/media/tiresandtubes.jpg" style="width:150px" />
        </swiper-slide>
        <swiper-slide>
          <img src="assets/media/bottombrackets.jpg" style="width:150px" />
        </swiper-slide>


        <!-- @endforeach -->

      </swiper-container>

    </div>

    <!-- {{-- 𝗦𝗘𝗭𝗜𝗢𝗡𝗘 𝗔𝗥𝗧𝗜𝗖𝗢𝗟𝗢 --}} -->

    <div class="col-12 col-md-3 bgWhite p-4 order-1 order-md-2">

      <h3 class="my-3 text-uppercase">{{product?.name}}</h3>
      <p class="">{{product?.name}}</p>
      <h3 class="textMain">€ {{product?.standardCost}} </h3>
      <p class="textMain my-3">Iva inclusa</p>

      <a href="" class="btn p-0">{{product?.productCategory?.name}}</a>

      <hr>
      <p class="text-secondary my-2"><i class="fa-regular fa-clock"></i> Pubblicato il {{product?.modifiedDate}}</p>
      <p class="text-secondary mb-5"><i class="fa-regular fa-pen-to-square"></i> da username</p>
      <hr>

      <div class=" p-2 container">
        <div class="col-12">
           <p class="text-center"><i class="fa-solid fa-circle-check textMain fa-xl"></i></p>
        <p class="px-3"><b class="textMain">ANNUNCIO REVISIONATO</b> annuncio sottoposto a revisione da parte dei nostri
          revisor, al fine di mantenere la community in linea con gli standard di qualità e di rispetto della privacy
        </p>
        </div>
       
          <div class="col-12 text-center mt-5">
            <a [routerLink]="BasicAuth.isLogged() ? ['/buy/',productId] : '/login'" class="btn btn-success p-3 m-2 display-1">ACQUISTA</a>

          </div>
      </div>



    </div>


  </div>


</header>







<!-- {{-- 𝗦𝗟𝗜𝗗𝗘𝗥 --}} -->

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
