<app-navbar></app-navbar>


<header class="headerMargin container-fluid min-vh-100">

  <!-- @if (session('message'))
  <div class="message-alert alert alert-success text-center alert-dismissible" role="alert">
      {{session('message')}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </div>
      @endif


      <div class="row justify-content-center mb-3">
          <div class="col-10 p-5">
              <h2 class="text-uppercase">Bentornato {{Auth::user()->name}} 👋</h2>
          </div>
      </div> -->

      <!-- @if($announcement_to_recheck->isNotEmpty()) -->

      <div class="row justify-content-center p-3 mb-3">
          <div class="col-12 col-md-6 text-center bgMain p-3">

              <h3>RICHIESTE ADMIN</h3>

          </div>
      </div>




      <!-- {{-- 𝗧𝗔𝗕𝗟𝗘 𝗔𝗡𝗡𝗨𝗡𝗖𝗜𝗢 --}} -->

      <div class="row justify-content-center mt-5">


          <div class="col-12">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col" class="textBlue">DATA</th>
                          <th scope="col" class="textBlue">AUTORE</th>
                          <th scope="col" class="textBlue"></th>
                          <th scope="col" class="textBlue"></th>
                      </tr>
                  </thead>


                  <tbody class="p-4">
                      <!-- @foreach($announcement_to_recheck as $announcement) -->
                      <tr *ngFor="let requestAdmin of requestAdmins">

                      <td>{{ requestAdmin.date }}</td>
                      <td>{{ requestAdmin.user.username }}</td>
                      <td>

                      <div class="container justify-content-center">
    <div class="d-flex flex-column align-items-center d-block d-md-none">
        <!-- Per tablet e smartphone -->
        <button (click)="acceptRequest(requestAdmin.idRequest, true, requestAdmin.userId)" type="submit" class="col-12 col-md-5 my-2 btn btn-success rounded-0" data-toggle="tooltip" title="Conferma l'inserimento del'annuncio"><i class="bi bi-check-lg text-white"></i></button>
        <button (click)="rejectRequest(requestAdmin.idRequest, false, requestAdmin.userId)" type="submit" class="col-12 col-md-5 my-2 btn btn-danger rounded-0 " data-toggle="tooltip" title="Rifiuta l'annuncio eliminandolo"><i class="bi bi-x-lg text-white"></i></button>
    </div>
    <!-- Per tablet e smartphone -->
    <div class="d-none d-md-flex justify-content-center mt-2">
        <button (click)="acceptRequest(requestAdmin.idRequest, true, requestAdmin.userId)" type="submit" class="col-md-5 mx-2 btn btn-success rounded-0" data-toggle="tooltip" title="Conferma l'inserimento del'annuncio">Accetta</button>
        <button (click)="rejectRequest(requestAdmin.idRequest, false, requestAdmin.userId)" type="submit" class="col-md-5 mx-2 btn btn-danger rounded-0" data-toggle="tooltip" title="Rifiuta l'annuncio eliminandolo">Rifiuta</button>
    </div>
</div>

                      </td>

                  </tr>
                  <!-- @endforeach -->
              </tbody>
          </table>

      </div>
  </div>
<!--
  @else


  <div class="row justify-content-center p-3 mb-3">
      <div class="col-12 col-md-6 text-center bgMain p-3">

          <h3>NON CI SONO ANNUNCI DA REVISIONARE</h3>

      </div>
  </div>

  @endif
   -->

</header>



